<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>SMART MASJID</h1>
    <h1>Monitor</h1>
    <div class="date-time">
      <div id="date">Jun 10, 2024</div>
      <div id="time">9:41 AM</div>
    </div>
  </header>

  <section class="content">
      <div class="box" id="temperature">
        <div class="ket">
          <h2>Suhu</h2>
          <div class="text"><%= data.temperature %>°C</div>
        </div>
        <div class="mercury"></div>
      </div>
      <div class="box" id="humidity">
        <div class="ket">
          <h2>Kelembaban</h2>
          <div class="text"><%= data.humidity %>°C</div>
        </div>
        <div class="mercury"></div>
      </div>
      <div class="box" id="co2">
        <div class="ket">
          <h2>Kadar CO₂</h2>
          <div class="text"><%= data.co2 %>°C</div>
        </div>
        <div class="mercury"></div>
      </div>
      <div class="box" id="lpg">
        <div class="ket">
          <h2>Kadar LPG</h2>
          <div class="text"><%= data.lpg %>°C</div>
        </div>
        <div class="mercury"></div>
      </div>
      <div class="box" id="noise">
        <div class="ket">
          <h2>Kebisingan</h2>
          <div class="text"><%= data.noise %>°C</div>
        </div>
        <div class="mercury"></div>
      </div>
    </div>
  </section>
  <div class="link">
    <a class="linkBox" href="/">HomePage</a>
  </div>
  
  
  

  
  <!-- Mercury Thermometer -->
  

  <script>
    const userData = <%- JSON.stringify(data) %>;
    console.log(userData) // Convert data to JSON
    const endpoint = '/dashboard/data/0';
  </script>
  <script src="/script.js"></script>
</body>
</html>